@import './theme.scss';
// avoid bootstrap styles...
.form-control:focus {
    background-color: transparent !important;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}